* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #f0eded;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
  margin: 2rem;
  overflow: hidden;
}

#main {
  margin-top: 2rem;
  box-shadow: 0px 5px 10px 0px rgba(147, 147, 147, 0.2);
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}

h1 {
  font-size: 3rem;
}

#dropdownArea {
  padding: 2rem;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
}

#dropdownButton {
  padding: 24px 36px 24px 36px;
  border: none;
  background-color: lightsteelblue;
  font-size: 2rem;
  border-radius: 12px 12px 0px 0px;
  display: flex;
  gap: 12px;
}

#dropdownButton:hover {
  cursor: pointer;
  background-color: rgb(144, 170, 204);
}

img {
  height: 36px;
  width: 36px;
}

#menuContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
  background-color: lightgray;
  border-radius: 0px 0px 12px 12px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    cursor: pointer;
    color: orange;
}

#carouselContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}

#carouselFrame {
  margin-top: 2rem;
  width: 168px;
  position: relative;
  overflow: hidden;
}

#images {
    max-width: 1268px;
    position: relative;
    display: flex;
    flex-direction: row; 
}

.catImg {
    width: 168px;
    height: 268px;
    border-radius: 20px;
}

#nextButton {
  background-image: url(./next_arrow_icon.svg);
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    font-size: 0;
    line-height: 0;
}

#nextButton:hover {
  cursor: pointer;
}

#previousButton {
  background-image: url(./previous_arrow_icon.svg);
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    font-size: 0;
    line-height: 0;
}

#previousButton:hover {
  cursor: pointer;
}

#nav_bullets {
  display: flex;
  justify-content: center;
  gap: 6px;
  margin-top: 0.2rem;
}

.bullet{
  width: 12px;
  height: 12px;
  display: inline-block;
  border-radius: 100%;
  background: #000;
  opacity: .2;
  cursor: pointer;
}